/* src/app/components/Footer/footer.scss */

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: $color03;
    color: $color01;
    text-align: center;
}
